@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

$background: #FAFAFA;
$dark: #263238;
$white: #FAFAFA;
$greyLight: #EEEEEE;
$greyMedium: #BDBDBD;

$popins: 'Poppins', sans-serif;
$work: 'Work Sans', sans-serif;